extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Hush Kelibsiz, Iltimos Tizimga Kiring.
        .modal__footer
          a(href='/auth/google')
            i.fa.fa-google-plus(aria-hidden='true')
            | Google orqali tizimga kiring.
append javascripts
  script(src="/javascripts/controller/indexController.js")